{% extends 'request/base.html.twig' %}


{% block content %}
    {{ form_start(form, {attr:{class:'center-block', enctype: 'multipart/form-data'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description, {attr:{class:'wysiwyg-element'}}) }}
    {{ form_row(form.priority) }}
    {{ form_row(form.active) }}

    {% form_theme form.files '_themes/file_collection_theme.html.twig' %}
    {{ form_row(form.files) }}




    {{ form_row(form.category) }}

    {#
    {% form_theme form.comments '_themes/comment_collection_theme.html.twig' %}
    {{ form_row(form.comments, {
            attr:{class:'tinymce-container'} ,
            new_comment_title: 'form.request.comments.new.title',
            new_comment_clear_text: 'form.request.comments.new.clear',
            new_comment_submit_text: 'form.request.comments.new.submit',
            translation_domain: 'forms'
       })
    }}
    #}

    <div class="form-group" style="text-align:center">
        {{ form_widget(form.cancel , {attr: { class: 'cancel btn btn-default', onclick: 'window.location.href="/request/cancel"'} }) }}
        {{ form_widget(form.save, {attr: { class: 'save btn btn-default'} }) }}
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false}) }}



{% endblock %}


