{% extends 'main_template.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .center-block{
            text-align: center
        }
        form .form-group{
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="center-block">
            <h2>{{ 'users.removing'|trans }}</h2>
            <p>{{ 'users.removing.confirmation'|trans }} <b>{{ name }}</b></p>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}